# Ignore Everything
*

# But not theses
!.git
!.gitignore
!Makefile
!test.cub

!libft/
!srcs/
!include/
!mlx_linux/
!texture/
!maps/

!libft/**
!srcs/**
!include/**
!mlx_linux/**
!texture/**
!maps/**
